h1 { text-align: center;
    font-size: 250%;
color: blueviolet;
}
    img { width: 20%;
        margin-left: 40%;
    }
    h2 { font-size: 150%;
    text-align: center;
}
body {background-color: blanchedalmond;
}
